*{
	margin:0;
	padding:0;
}

body{
    background: #d9d9d9;
}

.menu{
    background: #3f4981;
    padding:20px 0px;
}

.menu .container{
    max-width: 960px;
    margin: 0 auto;
}

.menu h1{
    float: left;
    font-size: 2.5em;
    font-family: Georgia, serif;
    color: #e2e5ec;
}

.menu ul{
    float: right;
}

.menu li{
    color: #e2e5ec;
    text-decoration: none;
    display: inline;
    margin: 10px 20px;
    font-size:1.5em;
    /*position:relative;
    bottom:-20px;*/
}

.menu a:visited, a:link{
    color: #e2e5ec;
    text-decoration: none;
}

.menu::after, .menu::before{
  content:'';
  display:block;
  clear:both;
}

.intro{
  border-top:3px solid #bfbfbf;
  background-color: #d9d9d9;
}

.intro-container{
  margin:0 auto;
  max-width: 920px;

}

.intro-container h2{
  font-size:2.25em;
  text-align: center;
  padding-bottom:20px;

}
.intro-container p{
  width:350px;
  font-size:1.25em;
  font-style: italic;

  float:left;
  padding-right:20px;
}

.intro-container img{
  width:350px;
  height:auto;
  float:left;
}

.intro-texto::after, .intro-texto::before{
  content:'';
  display:block;
  clear:both;
}

.trilha::before, .trilha::after{
	display: table;
	content:'';
	clear: both;
}

.imagem_trilha, .imagem_passeio{
    width: 100%;
    height: auto;
}

.intro-container::after, .intro-container::before{
  content:'';
  display:block;
  clear:both;
}

.container{
    max-width: 960px;
    margin: 30px auto;
    
}

.container div p, div h1,div h2, h1, p{
    text-align: center;
}

.container div img{
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: block;
    float: right;
}

.trilha{
    margin: 30px auto;
}

.trilha div{
    margin: 30px auto;
}

.trilha h2, p{
    margin: 10px auto;
}

.footer{
    background-color: #3f4981;
    color: #e2e5ec;
    height: 100px;
}

.footer-container{
    max-width: 960px;
    padding: 25px 0; 
    margin: 0 auto;
}

.footer-adress{
    float: left;
    width: 200px;
}

.footer-contacts{
    float: right;
}

.texto{
    width: 300px;
    float: left;
    font-style: italic;
}