.cabecalho{
    height: 100px;
    background: #3f4981;
}

.menu{
    max-width: 960px;
    margin: 0 auto;
    height: 100px;
}

.menu h1{
    float: left;
    font-size: 2em;
    font-family: Georgia, serif;
    color: #e2e5ec;
}

.menu ul{
    float: right;    
}

.menu li{
    color: #e2e5ec;
    text-decoration: none;
    display: inline;
    margin: 0 20px;
}

.menu a:visited, a:link{
    color: #e2e5ec;
    text-decoration: none;
}

.container{
    max-width: 960px;
    //display: block;
}

.container div p, div h1,div h2, h1, p{
    text-align: center;
}

.container div img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.trilha, .passeio{
    margin: 0 auto;
}