<footer class="footer">
  <div class="footer-container">
    <section class="footer-adress">
      <h3>Visite-nos!</h3>
      <p>Rua dos bobos, 17</p>

    </section>

    <section class="footer-contacts">

      <h3>Fale com a gente!</h3>
      <ul>
        <li>Email: parquedoslobos@gmail.com</li>
        <li>Telefone: (22) 2222-2222</li>

      </ul>

    </section>

    <section class="footer-logo">
      <!--um lugar para adicionar uma futura logo -->

    </section>

  </div>


</footer>
