<header class="cabecalho">
    <div class="menu">  
        <h1>Parque dos Lobos</h1>

        <ul>
            <li><%= link_to  "Home", home_path %></li>
            <li><%= link_to  "Trilhas", trilhas_path %></li>
            <li><%= link_to  "Eventos", eventos_path %></li>
        </ul>
    </div>    
</header>
