<div class="container">
    <h1>Trilhas</h1>
    <div class="passeio">
        <h2>Passeio Escolar</h2>
        <p>É diretor ou professor de uma escola? Traga seus alunos para conhecerem o Parque dos Lobos e se divertirem durante uma tarde.</p>
        <%= image_tag  "passeio_1.jpeg", class: "imagem_passeio", alt: "Pessoas caminhando com um guarda florestal à frente no meio da neve. Pinheiros ao fundo e, mais ao fundo, uma grande montanha coberta com neve." %>
    </div>
    <div class="passeio">
        <h2>COnhecendo as Estrelas</h2>
        <p>venha conhecer as estrelas junto dos guardas florestais durante uma noite longe das luzes da cidade.
        </p>
        <%= image_tag  "passeio_2.jpeg", class: "imagem_passeio", alt: "Uma pessoa caminhado em uma montanha pela neve com pinheiros ao fundo e, mais ao fundo, uma série de quatro picos cobertos com neve.." %>
    </div>
    <div class="passeio">
        <h2>Snowboarding</h2>
        <p>Melhor forma de se divertir durante o inverno congelante é praticando snowboarding numa de nossas pistas. Aproveite e procure os lobos do parque para uma caminhada.</p>
        <%= image_tag  "passeio_3.jpeg", class: "imagem_passeio", alt: "Três pessoas praticando snowboarding à beira de uma montnha com, bem ao fundo no pé da montanha, com montanhas cobertas com neve mais ao fundo.." %>
    </div>
</div>